services:
  whisperx-api:
    build: .
    ports:
      - "5001:5001"
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [gpu]
    volumes:
      - ${MODELS_PATH}:/models
    environment:
      - HF_TOKEN=${HF_TOKEN}
      - ASR_MODEL_PATH=${ASR_MODEL_PATH}
      - ASR_MODEL_NAME=${ASR_MODEL_NAME}
      - TRANSFORMERS_OFFLINE=${TRANSFORMERS_OFFLINE}
      - HF_HUB_OFFLINE=${HF_HUB_OFFLINE}
      - PYTHONHASHSEED=${PYTHONHASHSEED}
      - HF_HOME=${HF_HOME}